body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#dado-container {
    width: 400px;
    height: 400px;
}

#habilidad-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    font-size: 1.2em;
}
